<div class="row section-header widder aos-init aos-animate mx-auto mt-5 pt-5" data-aos="fade-up">
  <div class="col-full mb-5 pb-5">
    <div class="float-start pe-5 pb-1">
      <img class="cover_image ms-auto rounded-4" style="aspect-ratio: 0.8;height: 34vw;"
        src="/portfolio/assets/img/profile1.jpg">
      <!-- <div class="cover_image ms-auto rounded-4"
        style="background-image: url('https://img.freepik.com/fotos-premium/uma-pessoa-em-pe-na-frente-de-um-fundo-branco-solido_896360-8914.jpg');height: 35vw; background-repeat: no-repeat;background-size: auto 100%;background-position-x: center;">
      </div> -->
    </div>
    <div class="">
      <h3 class="subhead">Sobre mim</h3>
      <h1 class="display-2">
        O Design é a arte em função.

        Meu nome é Amanda e eu amo Criar!
      </h1>
      <p>Me chamo Amanda Cortez e tenho 24 anos.
        Desde sempre amei o mundo das cores e formas, costumava relaxar desenhando, pintando ou, até mesmo, analisando e
        comentando com todo mundo da família sobre as publicidades dos comerciais de televisão.
        Sempre fui muito comunicativa e expressiva e entrei para o mundo da criatividade de cabeça aos 15, com o técnico
        de marketing e desde então me encontrei, já fiz cursos de design gráfico, de identidade visual, assim como para
        aplicações web e mobile, com cursos de User interface (UI) e User Experience (UX).
        Hoje sou estudante de publicidade e propaganda e trabalho como designer freelancer desde 2019, que foi onde
        surgiu a Maor, minha “eu”gência, de design.
        Já tive o prazer de participar da criação e do renovo de marcas maravilhosas, e isso me deixa ainda mais
        empolgada a cada projeto que surge; um novo universo, um novo desafio e uma nova maneira de me reinventar com
        uma marca maravilhosa.
        Pretendo relacionar os estudos publicitários com a agência e expandir, tornar algo que construa minha carreira e
        meu nome com referência no design.</p>
    </div>
  </div>
</div>