<!-- ============ Home ============ -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll"
  data-image-src="/portifolio/assets/img/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000
  data-position-y=center>
  <div class="grid-overlay">
    <div></div>
  </div>

  <div class="home-content">
    <div class="d-flex-inline home-content__main">
      <h1>Maor</h1>
      <h3>Agência especializada no desenvolvimento de Apps,<br>sites e designs que façam a diferença.</h3>
      <div class="home-content__button">
        <!-- TODO: Adicionar link -->
        <a href="home#about" class="smoothscroll btn btn-primary btn-large">
          Nossos projetos
        </a>
        <!-- TODO: Adicionar link -->
        <a href="home#contact" class="smoothscroll btn btn-large">
          Fazer orçamento
        </a>
      </div>

    </div>

    <div class="home-content__scroll">
      <a href="home#wwa" class="scroll-link smoothscroll">
        Descer
      </a>
    </div>
  </div>

  <ul class="home-social">
    <li>
      <a href="home#0"><i class="fab fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
    </li>
    <li>
      <a href="home#0"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
    </li>
    <li>
      <a href="home#0"><i class="fab fa-behance" aria-hidden="true"></i><span>Behance</span></a>
    </li>
  </ul>
</section>

<!-- ============ Who We Are ============ -->
<section id="wwa" class="s-about page-hero target-section min-vh-90" data-natural-width=3000 data-natural-height=2000
  data-position-y=center>
  <div class="d-flex flex-wrap mx-0 min-vh-90">
    <div class="col-md text-center d-flex align-items-stretch px-0">
      <div class="services-wrap d-flex align-items-center filter img"
        style="background-image: url(/portifolio/assets/img/development.jpg);">
        <div class="text">
          <h3 class="font-bold">Apps e Sites</h3>
          <p><a href="home#pricing" class="btn-custom">Ver valores ➞</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center d-flex align-items-stretch px-0">
      <div class="text-about py-5 px-4 mt-5">
        <h1 class="logo pb-3">Maor</h1>
        <h2>Welcome to our Salon</h2>
        <p>Design e funcionalidade aliados para gerar interesse e conexão, é assim que trabalhamos na Maor.
        </p>
      </div>
    </div>
    <div class="col-md text-center d-flex align-items-stretch px-0">
      <div class="services-wrap d-flex align-items-center filter img"
        style="background-image: url(/portifolio/assets/img/design.jpg);">
        <div class="text inside">
          <h3 class="font-bold">Design de marcas</h3>
          <p><a href="home#pricing" class="btn-custom">Ver valores ➞</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="s-about target-section">

  <div class="row section-header wide aos-init aos-animate mx-auto mt-5 pt-5" data-aos="fade-up">
    <div class="col-full d-flex flex-wrap justify-content-between">
      <div class="col-md-8">
        <h3 class="subhead">Who We Are</h3>
        <h1 class="display-2">
          We are Sublime, a design and branding agency with partners worldwide. We design thoughtful
          digital
          experiences
          and beautiful brand aesthetics.
        </h1>
      </div>
      <div class="col-md-4">
        <div class="cover_image ms-auto rounded-4"
          style="background-image: url('https://img.freepik.com/fotos-premium/uma-pessoa-em-pe-na-frente-de-um-fundo-branco-solido_896360-8914.jpg');height: 100%; aspect-ratio: 0.75;background-repeat: no-repeat;background-size: auto 100%;background-position-x: center;">
        </div>
      </div>
    </div>
  </div> <!-- end section-header -->

  <!-- <div class="row wide mx-auto" data-aos="fade-up">
          <div class="col-full">
              <p class="lead">
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget
                  malesuada. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse.
              </p>
          </div>
      </div> <!-- end about-desc -->
</section> <!-- end s-about -->

<!-- ============ Our Services ============ -->
<section id="services" class="s-about page-hero target-section min-vh-90 mt-5 pt-5" data-natural-width=3000
  data-natural-height=2000 data-position-y=center>
  <div class="d-grid align-items-center justify-content-center min-vh-90">
    <div>
      <div class="d-flex justify-content-center pb-3">
        <div class="text-center heading-section" data-aos="fade-up" data-aos-offset="0">
          <span class="subheading">Serviços</span>
          <h2 class="mb-4">Menu de serviços</h2>
          <p>A Maor é uma agência que pode atender você em seus mais variados projetos.<br>Dá uma olhada
            nos nossos principais serviços</p>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-evenly no-gutters">
        <div class="pe-none col-md-6 col-lg-2 px-2 d-flex card-item rounded-1x rounded-md-0 my-md-0 my-3"
          data-aos="flip-left" data-aos-delay="0" data-aos-duration="1000">
          <a class="no-style">
            <div class="media block-6 services d-block text-center">
              <div class="icon card-icon">
                <i class="fab fa-4x fa-twitter"></i>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Identidade visual</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="pe-none col-md-6 col-lg-2 px-2 d-flex card-item rounded-1x rounded-md-0 my-md-0 my-3"
          data-aos="flip-left" data-aos-delay="800" data-aos-duration="1000">
          <a class="no-style">
            <div class="media block-6 services d-block text-center">
              <div class="icon card-icon">
                <i class="fab fa-4x fa-twitter"></i>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Aplicativos</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="pe-none col-md-6 col-lg-2 px-2 d-flex card-item rounded-1x rounded-md-0 my-md-0 my-3"
          data-aos="flip-left" data-aos-delay="400" data-aos-duration="1000">
          <a class="no-style">
            <div class="media block-6 services d-block text-center">
              <div class="icon card-icon">
                <i class="fab fa-4x fa-twitter"></i>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Social media</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="pe-none col-md-6 col-lg-2 px-2 d-flex card-item rounded-1x rounded-md-0 my-md-0 my-3"
          data-aos="flip-left" data-aos-delay="800" data-aos-duration="1000">
          <a class="no-style">
            <div class="media block-6 services d-block text-center">
              <div class="icon card-icon">
                <i class="fab fa-4x fa-twitter"></i>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Sistemas</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="pe-none col-md-6 col-lg-2 px-2 d-flex card-item rounded-1x rounded-md-0 my-md-0 my-3"
          data-aos="flip-left" data-aos-delay="1200" data-aos-duration="1000">
          <a class="no-style">
            <div class="media block-6 services d-block text-center">
              <div class="icon card-icon">
                <i class="fab fa-4x fa-twitter"></i>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">Criação de sites</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="s-about page-hero target-section min-vh-90" data-natural-width=3000
  data-natural-height=2000 data-position-y=center>
  <div class="bit-narrow mx-auto">
    <div class="row justify-content-center pb-3 w-100">
      <div class="col-md-10 heading-section text-center">
        <span class="subheading">Pacotes</span>
        <h2 class="mb-4">Our Prices</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-3">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Hair Style</h3>
            <p><span class="price">$50.00</span> <span class="per">/ session</span></p>
          </div>
          <ul>
            <li>Hair Dryer</li>
            <li>Hair Coloring</li>
            <li>Hair Cut</li>
            <li>Hair Dresser</li>
            <li>Hair Spa</li>
          </ul>
          <p class="button center"><a href="home#" class="btn btn-primary px-4 my-auto py-4 fw-bolder">Escolher</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Manicure Pedicure</h3>
            <p><span class="price">$34.50</span> <span class="per">/ session</span></p>
          </div>
          <ul>
            <li>Manicure</li>
            <li>Pedicure</li>
            <li>Coloring</li>
            <li>Nails</li>
            <li>Nail Cut</li>
          </ul>
          <p class="button text-center center">
            <a href="home#" class="btn btn-primary px-4 my-auto py-4 fw-bolder">Escolher</a>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pricing-entry active pb-5 text-center">
          <div>
            <h3 class="mb-4">Makeup</h3>
            <p><span class="price">$54.50</span> <span class="per">/ session</span></p>
          </div>
          <ul>
            <li>Makeup</li>
            <li>Professional Makeup</li>
            <li>Blush On</li>
            <li>Facial Massage</li>
            <li>Facial Spa</li>
          </ul>
          <p class="button center"><a href="home#" class="btn btn-primary px-4 my-auto py-4 fw-bolder">Escolher</a></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Body Treatment</h3>
            <p><span class="price">$89.50</span> <span class="per">/ session</span></p>
          </div>
          <ul>
            <li>Massage</li>
            <li>Spa</li>
            <li>Foot Spa</li>
            <li>Body Spa</li>
            <li>Relaxing</li>
          </ul>
          <p class="button center"><a href="home#" class="btn btn-primary px-4 py-3 my-auto py-4 fw-bolder">Escolher</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row bit-narrow mx-auto">
    <div class="row justify-content-center pb-3 w-100">
      <div class="col-md-10 heading-section text-center">
        <!-- <span class="subheading">Pacotes</span> -->
        <h2 class="mb-0">Our Prices</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
      </div>
    </div>

    <div class="about-process process block-1-2 block-tab-full">

      <div class="col-block item-process" data-aos="fade-up">
        <div class="item-process__text">
          <h4 class="item-title">Define</h4>
          <p>
            Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi
            explicabo non quis magni recusandae.
            Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos
            maxime tempore quasi deserunt ab.
          </p>
        </div>
      </div>
      <div class="col-block item-process" data-aos="fade-up">
        <div class="item-process__text">
          <h4 class="item-title">Design</h4>
          <p>
            Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi
            explicabo non quis magni recusandae.
            Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos
            maxime tempore quasi deserunt ab.
          </p>
        </div>
      </div>
      <div class="col-block item-process" data-aos="fade-up">
        <div class="item-process__text">
          <h4 class="item-title">Build</h4>
          <p>
            Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi
            explicabo non quis magni recusandae.
            Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos
            maxime tempore quasi deserunt ab.
          </p>
        </div>
      </div>
      <div class="col-block item-process" data-aos="fade-up">
        <div class="item-process__text">
          <h4 class="item-title">Launch</h4>
          <p>
            Quos dolores saepe mollitia deserunt accusamus autem reprehenderit. Voluptas facere animi
            explicabo non quis magni recusandae.
            Numquam debitis pariatur omnis facere unde. Laboriosam minus amet nesciunt est. Et saepe eos
            maxime tempore quasi deserunt ab.
          </p>
        </div>
      </div>

    </div> <!-- end process -->

  </div> <!-- end row -->
</section>

<!-- ============ Portifolio ============ -->
<section id="services" class="s-about page-hero target-section min-vh-90" data-natural-width=3000
  data-natural-height=2000 data-position-y=center>
  <div class="container">
    <div class="d-flex no-gutters justify-content-center mb-5 pb-2">
      <div class="text-center heading-section" data-aos="fade-up" data-aos-offset="0">
        <span class="subheading">Portifólio</span>
        <h2 class="mb-4">Nossos Projetos</h2>
        <p>Abaixo algumas ideia tornadas realizade junto com a Maor</p>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="d-flex flex-wrap no-gutters">
      <div *ngFor="let item of projects" class="col-md-6 col-lg-3">
        <div class="project" (click)="openProject(item.id)">
          <img [src]="'/portifolio/assets/img/' + item.images[0]" class="img-fluid" alt="Colorlib Template">
          <div class="text">
            <span>Stylist</span>
            <h3><a>Beard</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>